<div class="bg-dark" data-bs-theme="dark">
    <!-- <div class="bg-body-tertiary"> -->
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
            <div class="col mb-2 align-self-center">
                <p class="text-body-secondary">&copy; 2024 Project.cl - Desarrollado por David Valdes</p>
            </div>

            <div class="col mb-2">
            </div>

            <div class="col mb-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inicio</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Crear encuesta</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Encuestas</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contacto</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Acerca de</a></li>
                </ul>
            </div>

            
            
        </footer>
        <p class="text-center pb-3 fw-lighter text-light">Desarrollado por David Valdes - 2024 - Analista de datos Y Desarrollador de software</p>
    </div>
</div>